*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
}

form{

}

a{
    text-decoration: none;
}

header img{
    height: 30px;
    width: 92px;
}

header div{
    margin-left: 50px;
}