*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* logo/searchbar/nav */

header{
    display: flex;
    height: 100px;
    align-items: flex-end;
}

nav{
    display: flex;
    align-items: flex-end;
    height: 30px;
    justify-content: space-between;
}

nav span{
    margin-left: 5px;
}

input{
    height: 44px;
    width: 650px;
    padding-left: 24px;
    border: none;
    background-color: transparent;
}

input:focus{
    outline: none;
}

a{
    text-decoration: none;
}

header img{
    height: 30px;
    width: 92px;
    margin-left: 20px;
}

.form-nav-wrapper{
    margin-left: 50px;
}

.form-nav-wrapper, header img{
    align-self: center;
}

.search-bar{
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 16%);
    border-radius: 24px;
}

.settings-tools{
    margin-left: 50px;
}

hr{
    width: 100%;
}

/* Search result stats */

.num-results{
    color: #70757a;
    font-size: 14px;
    margin-left: 165px;
}

/* Search results */

.search-results{
    display: flex;
    margin-left: 165px;
    flex-direction: column;
    width: 40%;
}

.web-url i{
    margin-left: 25px;
}