*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    height: 100px;
}

nav{
    
}

input{
    border-radius: 25px;
    height: 40px;
    width: 650px;
    border-width: 1px;
    padding-left: 25px;
}

a{
    text-decoration: none;
}

header img{
    height: 30px;
    width: 92px;
}

header div{
    margin-left: 50px;
}

header div, header img{
    align-self: center;
}